@charset "utf-8";

html {
    font-size: 62.5%;
    /* 기본폰트 10px 설정 */
}

body {
    color: #000;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', 'GmarketSans',
        sans-serif;
}

.gmarket {
    font-family: 'GmarketSans', serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.wrap {
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;
}

.inner {
    max-width: calc(100% - 200px);
    margin: 0 auto;
}

@media (max-width : 1600px) {
    .inner {
        max-width: calc(100% - 160px);
    }
}

@media (max-width : 1400px) {
    .inner {
        max-width: calc(100% - 140px);
    }
}

@media (max-width : 1200px) {
    .inner {
        max-width: calc(100% - 120px);
    }
}


#container .title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    font-family: 'GmarketSans', 'Noto Sans KR';
}

#container .title+p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}


@media (max-width : 1920px) {
    section {
        margin-bottom: 150px;
    }
}

@media (max-width : 1024px) {
    #container .title {
        font-size: 3rem;
    }

    section {
        margin-bottom: 100px;
    }
}

@media (max-width : 768px) {
    #container .title {
        font-size: 2.6rem;
    }


    section {
        margin-bottom: 50px;
    }
}

@media (max-width:400px) {
    #container .title {
        font-size: 1.6rem;
    }
}

#container .btn_more {
    display: inline-block;
    background-color: #8E39FC;
    color: #fff;
    padding: 15px 30px;
    border-radius: 20px;
    transition: background 0.3s, color 0.3s;
}

#container .btn_more:hover {
    color: #fff;
    background-color: #4000c7;
}

/* header시작 */


#header .header_logo h1 img {
    height: 50px;
    width: 100%;
    display: block;
}

#header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .inner .gnb {
    display: flex;
}

#header .inner .gnb>li>a {
    display: block;
    padding: 20px 10px;
}

#header .inner .util {
    font-size: 1rem;
    display: flex;

}

#header .util>li>a {
    display: block;
    padding: 5px;
}


/* header 끝 */


/* mainBanner시작 */
#mainBanner {
    height: 900px;
    position: relative;
}

#mainBanner .mb {
    height: 100%;
}

#mainBanner .swiper-wrapper a img {
    width: 100%;
    display: block;
}


#mainBanner .swiper-pagination {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
}

.swiper-pagination-bullet {
    background-color: #fff;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: #fff;
}

/* mainBanner끝 */





/* product 시작 */

#product .product_list {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#product .product_list dl {
    width: 200px;
    height: 200px;
    margin: 30px;
}

#product .product_list dl dt {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

#product .product_list dl:first-child dt {
    background: url("../images/main/product1.png") no-repeat center center;
    background-size: cover;
}

#product .product_list dl:nth-child(2) dt {
    background: url("../images/main/product2.png") no-repeat center center;
    background-size: cover;

}

#product .product_list dl:nth-child(3) dt {
    background: url("../images/main/product3.png") no-repeat center center;
    background-size: cover;

}

#product .product_list dl:nth-child(4) dt {
    background: url("../images/main/product4.png") no-repeat center center;
    background-size: cover;

}

#product .product_list dl:nth-child(5) dt {
    background: url("../images/main/product5.png") no-repeat center center;
    background-size: cover;

}

#product .product_list dl:last-child dt {
    background: url("../images/main/product6.png") no-repeat center center;
    background-size: cover;

}

dt #product .product_list dl dd {
    font-size: 2rem;
}

#product .product_list dl:hover dt {
    transform: translateY(-20px);
}

/* product 끝 */


/* magazine 시작 */
#magazine .ms .swiper-slide {}

#magazine .ms .ms_img {
    width: 60%;
    display: inline-block;
}

#magazine .ms .ms_img img {
    width: 100%;
}

#magazine .ms .ms1 {
    width: 100%;
    display: flex;
}

#magazine .ms .ms_txt ul li a {
    display: flex;
    align-items: center;
}

#magazine .ms .ms_txt ul li a img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

/* magazine 끝 */



/* video 시작 */
#video .title {
    margin-bottom: 50px;
}

#video .movie {
    width: 80%;
    text-align: center;
}

#video .movie video {
    width: 100%;
}

/* video 끝 */

/* popular 시작 */
#popular .inner .popular_txt ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

}

#popular .inner .popular_txt ul li a {
    display: block;
    text-align: center;
    padding: 15px 30px;
    margin: 20px;
    background-color: #eee;
    color: #000;
    border-radius: 20px;
    transition: color 0.3s, background 0.3s;
}

#popular .inner .popular_txt ul li a:hover {
    color: #fff;
    background: #8C6230;
}


#popular .pl_left {
    float: left;
    width: 800px;
}

#popular .pl_left .pl_left_img {
    width: 100%;
    position: relative;
}

#popular .pl_left .pl_left_txt {
    position: absolute;
    top: 10%;
    left: 10%;
}

#popular .pl_left .pl_left_img a img {
    width: 100%;
    display: block;
}

#popular .pl_right {
    float: right;
    width: 850px;
}

#popular .pl_right .pl_right_img {
    position: relative;
    float: right;
}

#popular .pl_right .pl_right_txt {
    position: absolute;
    left: 5%;
    top: 10%;
}

#popular .pl_right .pl_right_img img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    display: block;
}

/* popular 끝 */