@charset "utf-8";

html {
    font-size: 62.5%;
    /* 기본폰트 10px 설정 */
}

body {
    color: #000;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', 'GmarketSans',
        sans-serif;
}

.gmarket {
    font-family: 'GmarketSans', serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.wrap {
    max-width: 1920px;
    overflow-x: hidden;
}

.inner {
    max-width: calc(100% - 200px);
    margin: 0 auto;
}

@media (max-width : 1600px) {
    .inner {
        max-width: calc(100% - 160px);
    }
}

@media (max-width : 1400px) {
    .inner {
        max-width: calc(100% - 140px);
    }
}

@media (max-width : 1200px) {
    .inner {
        max-width: calc(100% - 120px);
    }
}


#container .title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    font-family: 'GmarketSans' !important;
}

@media (max-width : 1920px) {
    section {
        margin-bottom: 150px;
    }
}

@media (max-width : 1024px) {
    #container .title {
        font-size: 3rem;
    }

    section {
        margin-bottom: 100px;
    }
}

@media (max-width : 768px) {
    #container .title {
        font-size: 2.6rem;
    }


    section {
        margin-bottom: 50px;
    }
}

@media (max-width:400px) {
    #container .title {
        font-size: 1.6rem;
    }
}

#container .btn_more {
    display: inline-block;
    background-color: #8E39FC;
    color: #fff;
    padding: 15px 30px;
    border-radius: 20px;
    transition: background 0.3s, color 0.3s;
}

#container .btn_more:hover {
    color: #fff;
    background-color: #4000c7;
}

/* header시작 */
#header {

    border: 1px solid black;
}


#header .header_logo h1 img {
    height: 50px;
    width: 100%;
    display: block;
}

#header .inner {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .inner .gnb {
    display: flex;
}

#header .inner .gnb>li>a {
    display: block;
    padding: 20px 10px;
}

#header .inner .util {
    font-size: 1rem;
    display: flex;

}

#header .util>li>a {
    display: block;
    padding: 5px;
}


/* header 끝 */


/* mainBanner시작 */
#mainBanner {
    height: 900px;
    position: relative;
}

#mainBanner .mb {
    height: 100%;
}

#mainBanner .swiper-wrapper .mb1 {
    background: url("../images/main/bg_main0802.jpg") no-repeat center top;
    background-size: 100% auto;
}

#mainBanner .swiper-wrapper .mb2 {
    background: url("../images/main/bg_main0803.jpg") no-repeat center top;
    background-size: 100% auto;
}

#mainBanner .swiper-wrapper .mb3 {
    background: url("../images/main/bg_main0804.jpg") no-repeat center top;
    background-size: 100% auto;
}

#mainBanner .swiper-wrapper .mb4 {
    background: url("../images/main/bg_main09.jpg") no-repeat center top;
    background-size: 100% auto;
}

#mainBanner .swiper-pagination {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
}

.swiper-pagination-bullet {
    background-color: #fff;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: #fff;
}

/* mainBanner끝 */