@charset "utf-8";

html {
    font-size: 62.5%;
    /* 기본폰트 10px 설정 */
}

body {
    color: #000;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', 'GmarketSans',
        sans-serif;
}

.gmarket {
    font-family: 'GmarketSans', serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.wrap {
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;
}

.inner {
    max-width: calc(100% - 200px);
    margin: 0 auto;
}

@media (max-width : 1600px) {
    .inner {
        max-width: calc(100% - 160px);
    }
}

@media (max-width : 1400px) {
    .inner {
        max-width: calc(100% - 140px);
    }
}

@media (max-width : 1200px) {
    .inner {
        max-width: calc(100% - 120px);
    }
}


#container .title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    font-family: 'GmarketSans', 'Noto Sans KR';
}
#container .title + p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}


@media (max-width : 1920px) {
    section {
        margin-bottom: 150px;
    }
}

@media (max-width : 1024px) {
    #container .title {
        font-size: 3rem;
    }

    section {
        margin-bottom: 100px;
    }
}

@media (max-width : 768px) {
    #container .title {
        font-size: 2.6rem;
    }


    section {
        margin-bottom: 50px;
    }
}

@media (max-width:400px) {
    #container .title {
        font-size: 1.6rem;
    }
}

#container .btn_more {
    display: inline-block;
    background-color: #8E39FC;
    color: #fff;
    padding: 15px 30px;
    border-radius: 20px;
    transition: background 0.3s, color 0.3s;
}

#container .btn_more:hover {
    color: #fff;
    background-color: #4000c7;
}

/* header시작 */
#header {

    border: 1px solid black;
}


#header .header_logo h1 img {
    height: 50px;
    width: 100%;
    display: block;
}

#header .inner {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .inner .gnb {
    display: flex;
}

#header .inner .gnb>li>a {
    display: block;
    padding: 20px 10px;
}

#header .inner .util {
    font-size: 1rem;
    display: flex;

}

#header .util>li>a {
    display: block;
    padding: 5px;
}


/* header 끝 */


/* mainBanner시작 */
#mainBanner {
    height: 900px;
    position: relative;
}

#mainBanner .mb {
    height: 100%;
}

#mainBanner .swiper-wrapper a img{
width: 100%;
display: block;
}


#mainBanner .swiper-pagination {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
}

.swiper-pagination-bullet {
    background-color: #fff;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: #fff;
}

/* mainBanner끝 */





/* product 시작 */
#product { 
    border: 1px solid red;
    height: 500px;
}
#product .product_list { 
    display: flex;
    width: 100%;
   text-align: center;
}
#product .product_list dl {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
#product .product_list dl dt{
    border: 1px solid blue;
    width: 100%;
    height: 100%;
    background : url("../images/main/bg_main0802.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 50%;
}
/* product 끝 */


/* magazine 시작 */
#magazine .ms .swiper-slide{
}
#magazine .ms .ms_img { 
    width: 60%;
    display: inline-block;
}
#magazine .ms .ms_img img{ 
    width: 100%;
}
#magazine .ms .ms1 {
    width: 100%;
    display: flex;
}
#magazine .ms .ms_txt ul li a {
    display: flex;
    align-items: center;
}
#magazine .ms .ms_txt ul li a img { 
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
/* magazine 끝 */



/* video 시작 */
#video .title {
    margin-bottom: 50px;
}
#video .movie { 
    text-align: center;
}
#video .movie video {
    width: 1200px;
}

/* video 끝 */

/* popular 시작 */
#popular .inner .popular_txt ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
#popular .inner .popular_txt ul li a { 
    display: block;
    text-align: center;
    padding: 15px 30px;
    margin: 20px;
    background-color: #eee;
    color : #000;
    border-radius: 20px;
    transition: color 0.3s, background 0.3s;
}
#popular .inner .popular_txt ul li a:hover{  
    color : #fff;
    background: #8C6230;
}


#popular .popular_list {
    height: 800px;
}
#popular .popular_list .pl_left { 
    width: 48%;
    float: left;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
}
#popular .popular_list .pl_left .pl_left_txt { 
    position: absolute;
    top: 10%;
    left: 10%;
}
#popular .popular_list .pl_left .pl_left_txt h3 { 
    font-size: 4rem;
    color: #fff;
    font-weight: 700;
    
}
#popular .popular_list .pl_left .pl_left_txt p  {
    padding: 10px 0;
    font-size: 2rem;
}
#popular .popular_list .pl_left a img { 
    width: 100%;
    display: block;
    border-radius: 50px;
}
#popular .popular_list .pl_right {
    float: left;
    width: 50%;
}
#popular .popular_list .pl_right ul li a {
    position: relative;
    width: 50%;
}
/* popular 끝 */